body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: monospace;
    text-shadow: 0px 0px 10px white;
}
::selection{
  color: lime;
  background-color: transparent;
  text-shadow: 0px 0px 10px lime;
}
r{
  color: red;
  font-weight: bold;
  text-shadow: 0px 0px 10px red;
}
button{
  background-color: white;
  color: black;
  padding: 10px;
  font-weight: bold;
  border: 5px solid white;
  cursor: pointer;
  box-shadow: 0px 0px 10px white;
}
button:hover{
  background-color: transparent;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: 5px solid white;
  cursor: pointer;
  box-shadow: 0px 0px 10px white;
}
button:active {
  background-color: transparent;
  color: lime;
  padding: 10px;
  font-weight: bold;
  border: 5px solid lime;
  cursor: pointer;
  box-shadow: 0px 0px 10px lime;
}